/* ~~~~~~~~About me page~~~~~~~~~ */
.about-content {
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  margin: 2rem;
  column-gap: 2rem;
  row-gap: 2rem;
}

.about-header {
  grid-column: 2/4;
  text-align: center;
  grid-row: 1;
}

.about-pre-mich {
  grid-column: 2;
  grid-row: 2;
}

.about-me-pic {
  grid-column: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-row: 2;
}

.about-me-pic img {
  width: 65%;
}

.about-me-mich {
  grid-row: 3;
  grid-column: 3;
}

.mich-img-container {
  grid-row: 3;
  grid-column: 2;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

#group-before {
  grid-column: 1 / span 9;
  grid-row: 1;
  width: 100%;
  padding-right: 1rem;
}

#group-after {
  grid-column: 8 / -1;
  grid-row: 1;
  z-index: 1;
  width: 100%;
  padding-top: 10%;
}

#group-before figcaption {
  width: 70%;
}

#group-before img,
#group-after img {
  width: 100%;
}

.about-text {
  grid-row: 1;
  grid-column: 1;
}

.about-text :first-child {
  font-size: 1.4rem;
}

.headshot {
  grid-row: 1;
  grid-column: 2;
  width: 90%;
}

.connect {
  margin: 3rem;
}

@media only screen and (max-width: 700px) {
  .about-content {
    display: flex;
    flex-direction: column;
  }

  .about-me-pic img {
    width: 90%;
  }
}
