body,
html {
  width: 100%;
  height: auto;
  margin: 0;
}
.project-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  width: 80%;
  align-items: center;
  margin: 3rem auto;
}

.sahiyo-thumbnail-img {
  width: 100%;
  grid-row: 1;
  grid-column: 1;
}

/* .sahiyo-thumbnail {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
} */

.project-thumbnail {
  position: relative;
  /* grid-row: 1;
  grid-column: 1; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

/* .sahiyo-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(4, 6, 15, 0.6);
  color: #fff;
  visibility: visible;
  opacity: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;

  /* padding-left: 2rem; */
/* } */

.proj-desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(4, 6, 15, 0.6);
  color: #fff;
  visibility: visible;
  opacity: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.thumbnail-img {
  justify-content: center;
}

.project-thumbnail:hover .proj-desc {
  visibility: visible;
  opacity: 1;
}

.cutgroup-description h3 {
  width: 100%;
}
.cutgroup-thumbnail-img {
  grid-row: 1;
  grid-column: 2;
  width: 100%;
}

/* ~~~~~~~~~~~~~~~~~ */

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem;
  column-gap: 2rem;
}

.headshot {
  grid-row: 1;
  grid-column: 2;
  width: 90%;
}

.about-text {
  grid-row: 1;
  grid-column: 1;
}

.about-text :first-child {
  font-size: 1.4rem;
}

.connect {
  margin: 3rem;
}

/* ~~~~~~~~~Resume~~~~~~~~~~~~~ */

.resume-head {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.experience {
  margin: 3rem 4rem 4rem 4rem;
}

.experience > h2 {
  text-align: center;
  text-decoration: underline;
}

.resume-pdf {
  text-align: center;
}

.experience-block {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  column-gap: 3rem;
  margin: 2rem 8rem;
  align-items: center;
}

.experience-block .role {
  grid-row: 1;
  grid-column: 1;
  /* margin: auto; */
}

.role h2,
.role h4 {
  font-weight: 300;
}

.role p {
  color: grey;
}

.experience-block ul {
  grid-row: 1;
  grid-column: 2;
}
