/* Home page */
.portfolio-welcome {
  font-size: 2rem;
  margin: 4rem auto;
  font-weight: 300;
  text-align: center;
}

.animation-tagline {
  height: 8rem;
  margin: 4rem auto;
  text-align: center;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

#greeting-div {
  grid-row: 1;
}

#change-div {
  grid-row: 2;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .animation-tagline h1 {
  font-size: 3rem;
  font-weight: 200;
} */

#change-div .changing-line {
  position: absolute;
  /* width: 60%; */
  opacity: 0;
  font-weight: 800;
  /* color: #396661; */
  color: #49680d;
  animation-name: fadeInOut;
  animation-iteration-count: infinite;
}

.first-line {
  animation-duration: 24s;
  text-align: center;
}

.second-line {
  animation-duration: 24s;
  animation-delay: 6s;
  text-align: center;
}

.third-line {
  animation-duration: 24s;
  animation-delay: 12s;
  text-align: center;
}

.fourth-line {
  animation-duration: 24s;
  animation-delay: 18s;
  text-align: center;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 1;
  }
  29% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* common css */
.project-contents {
  column-gap: 3rem;
  width: 80%;
  align-items: start;
  margin: 5rem auto;
  display: grid;
  row-gap: 3rem;
  grid-template-columns: 1fr 1fr;
}

/* overlay  */
.project-image {
  position: relative;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #59624870;
}

.cutgroup-image img {
  border-radius: 10px;
}

.project-image img {
  width: 100%;
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.sahiyo-image img {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

#huddle-image-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: auto;
}

#huddle-image-container img {
  width: 75%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.huddle-image-container:first-child {
  grid-column: 1;
}

.huddle-image-container:last-child {
  grid-column: 2;
}

.project-image .huddle-image-container {
  width: 100%;
  opacity: 1;
  display: block;
  height: auto;
  padding-top: 0.5rem;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.cutgroup-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.sahiyo-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.huddle-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-image:hover img {
  opacity: 0.3;
  width: 100%;
  filter: blur(2px);
}

.project-image:hover .huddle-image-container {
  opacity: 0.3;
  width: auto;
}

.project-overlay {
  width: 70%;
}

.invisible-link {
  display: none;
}

.project-image:hover .project-overlay {
  opacity: 1;
  width: 70%;
  height: auto;
}

.project-image:hover {
  background-color: rgb(255, 255, 255);
}

/*  */

.proj-name {
  background-color: #f8f9fa;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.proj-name h3 {
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

/* all these importants are to override the bootstrap styling */
.learn-more {
  font-family: "Montserrat", sans-serif !important;
  background-color: #49680d !important;
  color: white !important;
  border-radius: 20px !important;
  padding-right: 24px !important;
  padding-left: 24px !important;
  height: 40px;
}

.learn-more:hover {
  font-family: "Montserrat", sans-serif !important;
  background-color: #49680d !important;
  color: white !important;
  font-weight: 550 !important;
}

/* ~~~~~~~~~Resume~~~~~~~~~~~~~ */

/* Media Breakpoints  */

@media only screen and (max-width: 480px) {
  /* Home Page */
  .animation-tagline {
    height: auto;
    grid-template-rows: 1fr 1.5fr;
  }

  .project-contents {
    grid-template-columns: 1fr;
    grid-template-rows: 20rem 20rem 20rem;
    margin: 0;
    width: 100%;
  }

  .project-image {
    width: 100%;
    border-radius: 0;
    background-color: rgb(255, 255, 255);
    /* opacity: 0.3; */
  }

  .invisible-link {
    display: block;
  }

  .project-image img {
    background-color: rgb(255, 255, 255);
  }

  .project-overlay {
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.727);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* .learn-more {
    display: none;
  } */

  .project-image:hover img {
    opacity: inherit;
    width: inherit;
    filter: inherit;
  }

  .project-image:hover .huddle-image-container {
    opacity: inherit;
    width: inherit;
  }

  .project-image:hover .project-overlay {
    opacity: inherit;
    width: inherit;
    height: inherit;
  }

  .project-image:hover {
    background-color: inherit;
  }

  /* Resume page */
  .experience .experience-block .amd {
    display: block;
    background-color: red;
  }

  /* About page */
  .about-content {
    display: block;
  }
}

/* @media only screen and (max-width: 729px) { */
/* p,
  li,
  span {
    font-size: 1.5rem;
  } */
/* 
  #resume-button {
    vertical-align: middle;
    text-align: center;
  }

  .about-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .headshot {
    width: 75%;
    margin-bottom: 1rem;
  }

  .about-text :first-child {
    text-align: center;
    font-weight: bold;
  }

  .container-fluid .me-5 {
    margin-right: 0.2rem !important;
  }

  .about-text {
    font-size: 1.5rem;
  } */
/* } */
