/* Global CSS */

body,
html {
  width: 100%;
  height: auto;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

p,
ol,
li {
  font-family: "Merriweather", serif;
  font-weight: 300;
}

b {
  font-weight: 700;
}

/* Home */

.project-contents {
  column-gap: 3rem;
  width: 80%;
  align-items: center;
  margin: 2rem auto;
  display: grid;
  row-gap: 2rem;
}

.sahiyo-project {
  grid-row: 1;
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  text-align: center;
  background-color: #f8f9fa;
}

.sahiyo-name {
  font-family: "Montserrat", sans-serif;
  grid-column: 1;
}

.sahiyo-thumbnail {
  grid-column: 2;
  width: 100%;
}

.sahiyo-thumbnail-img {
  width: 100%;
}

#sahiyo-learn-more {
  background-color: #683254;
  color: white;
  border-radius: 1.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

#sahiyo-learn-more:hover {
  background-color: #4d243d;
  color: white;
  font-weight: 550;
  border-radius: 1.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* ~~~~~~~~~~ */

.cutgroup-project {
  grid-row: 2;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  text-align: center;
  background-color: #f8f9fa;
}

.cutgroup-thumbnail {
  grid-column: 1;
  width: 100%;
}

.cutgroup-thumbnail-img {
  width: 100%;
}

.cutgroup-name {
  font-family: "Montserrat", sans-serif;
  grid-column: 2;
}

.cutgroup-description h3 {
  width: 100%;
}

#cutgroup-learn-more {
  background-color: #683254;
  color: white;
  border-radius: 1.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

#cutgroup-learn-more:hover {
  background-color: #4d243d;
  color: white;
  font-weight: 550;
  border-radius: 1.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.project-thumbnail {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail-img {
  justify-content: center;
}

/* ~~~~~~~~~~~~~~~~~ */

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem;
  column-gap: 2rem;
}

.headshot {
  grid-row: 1;
  grid-column: 2;
  width: 90%;
}

.about-text {
  grid-row: 1;
  grid-column: 1;
}

.about-text :first-child {
  font-size: 1.4rem;
}

.connect {
  margin: 3rem;
}

/* ~~~~~~~~~Resume~~~~~~~~~~~~~ */

.resume-head {
  text-align: start;
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.experience {
  margin: 3rem 4rem 4rem 4rem;
}

.experience > h2 {
  text-align: center;
  text-decoration: underline;
}

.resume-pdf {
  text-align: center;
  margin-top: 4rem;
}

.experience-block {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  column-gap: 2rem;
  margin: 2rem 8rem;
  align-items: flex-start;
}

.experience-block .role {
  grid-row: 1;
  grid-column: 1;
  margin-left: 2rem;
}

.role h2,
.role h4 {
  /* font-weight: 300; */
}

.role p {
  color: grey;
}

.experience-block ul {
  grid-row: 1;
  grid-column: 2;
}

#resume-button {
  background-color: #683254;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  width: 14rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#resume-button:hover {
  background-color: #4d243d;
  color: white;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 730px) and (max-width: 1000px) {
  .proj-name {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

@media only screen and (max-width: 729px) {
  .sahiyo-project {
    display: flex;
    flex-direction: column-reverse;
  }
  #cg-proj {
    display: flex;
    flex-direction: column;
  }
  .proj-name {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .project-contents {
    row-gap: 4rem;
  }
}
