#logo-home {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

.kat-icon {
  width: 2.5rem;
  height: auto;
}

.navbar {
  border-bottom: solid 3px #f8f9fa;
}

.navbar-nav li a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 450;
  color: #683254;
}

.navbar-nav li a:hover {
  font-weight: bold;
  color: #683254;
}

.dropdown button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.dropdown-item {
  font-family: "Montserrat", sans-serif;
}

/* ~~~~ Footer ~~~~~ */

#footer-container {
  margin-top: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-center p {
  margin: 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.icon-stuff .fa {
  font-size: 1.75rem;
  margin: 0.9rem;
}

.created-by {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.created-by p {
  margin: 0;
  font-size: 0.7rem;
}

@media only screen and (max-width: 700px) {
  footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .created-by {
    display: none;
  }

  .navbar .container-fluid {
    width: 100%;
  }
}
