/* Global CSS */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body,
html {
  width: 100%;
  height: auto;
  margin: 0;
  line-height: 200%;
  background-color: #faf9f7 !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2.75rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

h5 {
  font-size: 1.25rem;
  font-weight: 300;
}

p,
ol,
li {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

b {
  font-weight: 700;
}

q {
  font-style: italic;
  font-family: 'Merriweather', serif;
  color: #396661;
  line-height: 150%;
  font-weight: 600;
  margin-bottom: 2rem;
}

section {
  margin-bottom: 0.5rem;
}

figcaption {
  font-family: 'Merriweather', serif;
  font-style: italic;
  text-align: center;
  font-size: 0.85rem;
  line-height: 150%;

  margin: 0.5rem;
  padding: 0px;
}

/* Reusable CSS */
.top-button {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #49680d;
  color: white;
  cursor: pointer;
  padding: 15px;
  opacity: 0.8;
  border-radius: 50%;
}

.top-button:hover {
  background-color: #596248;
}

.case-study {
  display: grid;
  grid-template-columns: 1fr 3.5fr 3.5fr 1fr;
  height: auto;
  gap: 2rem 5rem;
}

.title-div {
  grid-column: 2/4;
  grid-row: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.title-div img {
  margin: auto;
}
.title-div h1 {
  margin: 4rem 3rem 2.5rem 3rem;
  text-align: center;
}

.project-specs {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  justify-items: center;
  line-height: 150%;
}

.project-specs ul {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  padding-left: 0;
}

.project-specs li {
  padding-bottom: 0.25rem;
}

.project-specs p,
li {
  /* font-family: 'Montserrat'; */
  font-size: 0.9rem;
}

.project-details {
  grid-column: 1;
}

.spoilers {
  grid-column: 2;
  padding-left: 2rem;
}

.project-overview {
  grid-row: 3;
  grid-column: 2/4;
}

/* .whole-overview {
  display: grid;
  width: 100%;
  column-gap: 1rem;
  grid-template-columns: 1fr 1fr 0.1fr 1fr;
} */

.project-overview .context {
  grid-column: 1/3;
}

/* .project-deets {
  grid-column: 4;
} */

/* End trying something  */
.project-overview h2 {
  text-align: center;
}

.challenge {
  grid-row: 4;
  grid-column: 2/4;
}

.scope-constraints {
  grid-row: 5;
  grid-column: 2/4;
}

.link-container {
  text-align: center;
  margin: 1.5rem auto;
  display: block;
}

.jump-link {
  font-family: 'Merriweather', serif;
  color: #49680d;
  text-align: center;
}

.jump-link:hover {
  color: #49680d;
  font-weight: 700;
}

.project-process {
  grid-column: 2/4;
  display: grid;
  grid-row: 6;
  grid-template-columns: 49% 49%;
  gap: 2rem 2rem;
}

.project-process h2 {
  grid-row: 1;
  grid-column: 1/3;
  text-align: center;
}
.interview-study {
  grid-row: 1;
  grid-column: 1/3;
}

/* personas */
.persona-container {
  grid-row: 3;
  grid-column: 1/3;
}

.persona-1 {
  max-width: 49%;
  object-fit: cover;
  grid-row: 1/2;
}

.persona-2 {
  max-width: 49%;
  object-fit: cover;
  grid-row: 2/3;
  margin-left: 1%;
}

.conclusion {
  grid-row: 7;
  grid-column: 2/4;
}

.conclusion h2 {
  text-align: center;
}

.what-learned {
  margin-top: 2rem;
}

.what-learned h4 {
  text-align: center;
}

/* Global breakpoints */
@media only screen and (max-width: 480px) {
  body {
  }
  p,
  li {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 500;
  }

  h4 {
    font-size: 1.4rem;
    font-weight: 300;
  }

  h5 {
    font-size: 1.25rem;
    font-weight: 200;
  }

  /* project breakpoints */

  .case-study {
    display: block;
    margin: auto 2rem;
  }

  .interview-study h2:first-child {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }

  .project-specs {
    display: flex;
    flex-direction: column;
  }

  .spoilers {
    padding-left: 0;
  }

  .title-div h1 {
    margin: 4rem 0 2.5rem 0;
  }

  .project-overview {
    margin: 2rem auto;
  }
  .challenge {
    margin: 2rem auto;
  }
  .scope-constraints {
    margin: 2rem auto;
  }

  .project-process {
    grid-template-columns: 1fr;
    row-gap: inherit;
  }
}
