/* Global CSS */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body,
html {
  width: 100%;
  height: auto;
  margin: 0;
  line-height: 200%;
  background-color: #fefcf4 !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 200;
}

h2 {
  font-size: 2.75rem;
  font-weight: 300;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
}

p,
ol,
li {
  font-family: "Merriweather", serif;
  font-weight: 300;
}

b {
  font-weight: 700;
}

q {
  font-style: italic;
  font-family: "Merriweather", serif;
  color: #396661;
  line-height: 150%;
  font-weight: 600;
  margin-bottom: 2rem;
}

section {
  margin-bottom: 0.5rem;
}

figcaption {
  font-family: "Merriweather", serif;
  font-style: italic;
  text-align: center;
  font-size: 0.85rem;
  line-height: 150%;

  margin: 0.5rem;
  padding: 0px;
}

/* Reusable CSS */

.case-study {
  display: grid;
  grid-template-columns: 1fr 3.5fr 3.5fr 1fr;
  height: auto;
  gap: 2rem 5rem;
}

.case-study h2 {
  font-size: 2.5rem;
}

.title-div {
  grid-column: 2/4;
  grid-row: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.title-div img {
  margin: auto;
}
.title-div h1 {
  margin: 2.5rem 3rem 1.5rem 3rem;
  text-align: center;
}

.project-specs {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.project-specs ul {
  list-style-type: square;
}

.specs {
  grid-column: 1;
  width: auto;
}

.skills {
  grid-column: 2;
  overflow: hidden;
  width: auto;
}

.tools {
  grid-column: 3;
  overflow: hidden;
  width: auto;
}

.project-overview {
  grid-row: 3;
  grid-column: 2/4;
}
.project-overview h2 {
  text-align: center;
}

.challenge {
  grid-row: 4;
  grid-column: 2/4;
}

.scope-constraints {
  grid-row: 5;
  grid-column: 2/4;
}

.jump-link {
  font-family: "Merriweather", serif;
  color: #49680d;
}

.jump-link:hover {
  color: #49680d;
  font-weight: 700;
}

.project-process {
  grid-column: 2/4;
  display: grid;
  grid-row: 6;
  grid-template-columns: 49% 49%;
  gap: 2rem 2rem;
}

.project-process h2 {
  grid-row: 1;
  grid-column: 1/3;
  text-align: center;
}
.interview-study {
  grid-row: 1;
  grid-column: 1/3;
}

/* personas */
.persona-container {
  grid-row: 3;
  grid-column: 1/3;
}

.persona-1 {
  max-width: 49%;
  object-fit: cover;
  grid-row: 1/2;
}

.persona-2 {
  max-width: 49%;
  object-fit: cover;
  grid-row: 2/3;
  margin-left: 1%;
}

.conclusion {
  grid-row: 7;
  grid-column: 2/4;
}

.conclusion h2 {
  text-align: center;
}

.what-learned {
  margin-top: 2rem;
}

.what-learned h4 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
