.case-study {
  display: grid;
  grid-template-columns: 1fr 3.5fr 3.5fr 1fr;
  height: auto;
  gap: 2rem 5rem;
}

.case-study h2 {
  font-size: 2.5rem;
}

/* Reusable CSS */
section {
  margin-bottom: 0.5rem;
}

figcaption {
  margin: 0px;
  padding: 0px;
  font-size: 0.8rem;
  font-style: italic;
}

.title-div {
  grid-column: 2/4;
  grid-row: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.title-div img {
  margin: auto;
}
.title-div h1 {
  margin: 1rem 3rem 1.5rem 3rem;
  text-align: center;
}

.project-specs {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  justify-content: space-around;
}

.specs {
  grid-column: 2/3;
  width: auto;
}
.skills {
  grid-column: 3/4;
  overflow: hidden;
  width: auto;
}

.project-overview {
  grid-row: 3;
  grid-column: 2/4;
}

.challenge {
  grid-row: 4;
  grid-column: 2/4;
}

.scope-constraints {
  grid-row: 5;
  grid-column: 2/4;
}

.project-overview h2 {
  text-align: center;
}

.project-process {
  grid-column: 2/4;
  display: grid;
  grid-row: 6;
  grid-template-columns: 49% 49%;
  gap: 2rem 2rem;
}

.project-process h2 {
  grid-row: 1;
  grid-column: 1/3;
  text-align: center;
}

.conclusion {
  grid-row: 7;
  grid-column: 2/4;
}

.conclusion h2 {
  text-align: center;
}

.what-learned {
  margin-top: 2rem;
}

.what-learned h4 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/*  */
/*  */
/*  */
/* Cutgroup-specific code */
.process-section {
  grid-column: 1/3;
}

q {
  font-style: italic;
  color: #683254;
}

.cutgroup-testing {
  grid-row: 2;
}

.cutgroup-findings {
  grid-row: 3;
  margin: auto;
}

.cutgroup-recs {
  grid-row: 4;
}

.all-rec {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
  column-gap: 3rem;
  align-items: center;
}

.rec1 .rec-deets {
  grid-column: 1/3;
}

.rec3 .rec-deets {
  grid-column: 1/4;
}

.rec1 q {
  grid-column: 3;
}

.rec2 .rec-deets,
.rec4 .rec-deets {
  grid-column: 2/4;
}

.rec2 q {
  grid-column: 1;
  grid-row: 1;
}

.hierarchy-img {
  grid-row: 2;
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: auto;
}

.hierarchy-img img {
  width: 550px;
  height: auto;
  max-width: 600px;
}

.know-rights {
  width: 200px;
  max-width: 220px;
}

.know-rights-container {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
  max-width: fit-content;
}

/* this the modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65); /* Black w/ opacity */
}

.modal-merged-image {
  margin: auto;
  display: block;
  padding-top: 2rem;
  width: 80%;
  max-width: 750px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  /* max-width: auto; */
  text-align: center;
  color: rgb(248, 248, 248);
  padding: 5px 0;
  height: auto;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/* Sahiyo-specific css */

.interview-study {
  grid-row: 2;
  grid-column: 1/3;
}

.sahiyo-personas {
  grid-row: 3;
  grid-column: 1/3;
}

#kara-persona {
  max-width: 49%;
  object-fit: cover;
  grid-row: 1/2;
}

#anita-persona {
  max-width: 49%;
  object-fit: cover;
  grid-row: 2/3;
  margin-left: 1%;
}

.sahiyo-survey {
  grid-row: 4;
  grid-column: 1/3;
}

.survey-img-container {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
}

.survey-results-img {
  width: 100%;
  vertical-align: top;
}

.surv-res-fig {
  width: 75%;
}

.sahiyo-survey :last-child {
  margin-top: 1rem;
}

.sahiyo-he {
  grid-column: 1/3;
  grid-row: 5;
}

#sahiyo-script-link {
  text-align: center;
  margin: 1.5rem auto;
  display: block;
}
#sahiyo-script-link:hover {
  font-weight: 600;
}

.sahiyo-usability {
  grid-column: 1/3;
  grid-row: 6;
}

.ut-observations {
  grid-column: 1/3;
  width: 100%;
  display: grid;
  grid-template-columns: 5.2fr 4.8fr;
  column-gap: 1rem;
}

.ut-observations :first-child {
  grid-row: 1;
  grid-column: 1;
}

.ut-observations :last-child {
  grid-row: 1;
  grid-column: 2;
}

.ut-observations img {
  /* object-fit: cover; */
  width: 100%;
  /* width: 49%; */
  /* height: auto; */
}

.recommendations {
  grid-row: 7;
  grid-column: 1/3;
}

.rec-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
}

.rec-list li:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
  width: 95%;
}

.rec-list li:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
  width: 95%;
}

.rec-list li:nth-child(3) {
  grid-row: 2;
  grid-column: 1;
  width: 95%;
}

.rec-list li:nth-child(4) {
  grid-row: 2;
  grid-column: 2;
  width: 95%;
}

.sahiyo-learned {
  margin-top: 2rem;
}

.presentation-link {
  font-size: large;
}

.link-container {
  text-align: center;
  margin: 1.5rem auto;
  display: block;
}

span {
  font-family: "Merriweather", serif;
}

.some-link:hover {
  font-weight: 600;
}

.link-container:hover {
  font-weight: 600;
}

.presentation-link:hover {
  font-weight: 600;
}

#sahiyo-script-link {
  text-align: center;
  margin: 1.5rem auto;
  display: block;
}
#sahiyo-script-link:hover {
  font-weight: 600;
}

/* Huddle CSS */
.interview-study {
  grid-row: 1;
}
.huddle-personas {
  grid-row: 2;
  grid-column: 1/3;
}

.huddle-story-map {
  grid-row: 3;
  grid-column: 1/3;
}

.huddle-prototyping {
  grid-row: 4;
  grid-column: 1/3;
}

@media only screen and (max-width: 700px) {
  .case-study {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    height: auto;
  }

  .title-div {
    grid-column: 2/3;
  }

  p,
  b,
  ol,
  ul,
  span {
    font-size: 1.5rem;
  }

  #sahiyo-case-study section {
    grid-column: 2/3;
    width: auto;
  }
  #sahiyo-process {
    grid-column: 2/3;
    grid-row: 6;
    display: block;
  }

  #sahiyo-process section {
    margin-top: 2rem;
  }

  .conclusion {
    grid-column: 2/3;
  }
}
